{
    "presets": [
        [
            "@babel/preset-env", { "useBuiltIns": "entry", "debug": true, "corejs": 3 }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-classes"
    ]
}
